<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/demo/header" />

<body>
    
    <section class="content-header">
        <h1>机构管理</h1>
        <ol class="breadcrumb">
            <li><a href="/demo/demo/agency/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/demo/demo/agency/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/demo/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/demo/demo/agency/update?id="+$("#id").val(),
	        columns: [
				{ title: "执业许可证", name: "licenseNo", required: "required", inputType: "TEXT" },
				{ title: "执业许可证照片", name: "license", inputType: "TEXT" },
				{ title: "机构名称", name: "name", required: "required", inputType: "TEXT" },
				{ title: "机构类型", name: "agencyType", inputType: "TEXT" },
				{ title: "地址", name: "address", inputType: "TEXT" },
				{ title: "成立日期", name: "registerTime", inputType: "DATE" },
				{ title: "统一社会信用代码", name: "socialCreditCode", inputType: "TEXT" },
				{ title: "经营范围", name: "businessScope", required: "required", inputType: "TEXT" },
				{ title: "联系方式", name: "contactWay", inputType: "TEXT" },
				{ title: "法定代表人或负责人", name: "chargePerson", inputType: "TEXT" },
				{ title: "charge_person_id", name: "chargePersonId", inputType: "TEXT" },
				{ title: "人事信息", name: "personnelInformation", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/demo/demo/agency/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>