<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/demo/header" />

<body>
    <tt:constant enumcode="sex-type,nation-type,identification-type" />
    <section class="content-header">
        <h1>人员维护</h1>
        <ol class="breadcrumb">
            <li><a href="/demo/demo/personnel/index"><i class="fa fa-table"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
        <a href="/demo/demo/personnel/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <div th:include="/demo/footer" />
    <script type="text/javascript">
    var options = {
            id: "model",
            cancelBtn: false,
            name: "新增",
            url: "/demo/demo/personnel/save",
            columns: [
                { title: "姓名", name: "name", inputType: "TEXT", colspan: 2 }, // colspan = 2 表示占两列，默认页面分两列（一个label+input为一列）
                {
                    title: "所属机构",
                    name: "agencyId",
                    required: "required",
                    inputType: "SELECT-SERVER",
                    multiple: true,
                    url: "/demo/demo/agency/select/find",
                    idField: "id",
                    nameField: "name"
                }, // 从服务器获取下拉数据，idField 和nameField分别为数据中的value和name
                { title: "证件类型", name: "identificationType", required: "required", inputType: "SELECT", enum: "identification-type" },
                { title: "证件号码", name: "identificationNo", required: "required", inputType: "TEXT" },
                { title: "性别", name: "sex", enum: "sex-type", inputType: "RADIO", colspan: 2 },
                { title: "出生日期", name: "birthday", inputType: "DATE", dependency: ["sex", "1"] }, // dependency依赖，出生日期必须在性别sex值为1时才显示，如果有多个值，则数组继续往下加
                {
                    title: "手机号码",
                    name: "cellphone",
                    inputType: "TEXT",
                    attr: {
                        "data-type": "cellphone",
                        maxlength: 13
                        // 可以增加dom的属性，例如添加数据类型和最大长度用于验证
                    }
                },
                { title: "头像", name: "profilePhoto", inputType: "ATTACHMENT", fileName: "profilePhotoFile", maxFileCount: 1 },
                { title: "民族", name: "nation", enum: "nation-type", inputType: "SELECT" },
                { title: "开始工作时间", name: "startWorkTime", inputType: "DATE" },
                { title: "加入党派时间", name: "joinPartyTime", inputType: "DATE" },
                { title: "政治面貌", name: "politicalAffiliation", inputType: "TEXT" },
                { title: "籍贯", name: "nativePlace", inputType: "TEXTAREA" },
                {
                	// 子项添加，未做保存处理
                    title: "地址",
                    name: "address",
                    required: "required",
                    inputType: "SUB-MODEL",
                    subViewField: "personnelName",
                    addSubModelBtnTitle: '添加地址',
                    // colCount: 5,
                    subTitleViewHtmml: function(data) {
                        var html = '<span class="product-description" style="line-height:34px">' + data.city + "-" + data.address + '</span>';
                        return html;
                    },
                    subModelOptions: {
                        headBorder: false,
                        hearderBox: false,
                        server: false,
                        layerOption: {
                            height: 400,
                            width: 700
                        },
                        columns: [
                            { title: "所在地区", name: "city", inputType: "TEXT", required: "required" },
                            { title: "详细地址", name: "address", inputType: "TEXT", required: "required" }
                        ]
                    }
                }
                ]
            }

            $(function() {
                var html = generateEditHtml(options);
                $(".content").html(html);
                $.initComponent($(".content"));

                var model = new tonto.Model("model", options.columns, {
                    pattern: "edit", // 编辑模式
                    successCallback: function() {
                        $.successAlert("保存成功", function() {
                            window.location = "/demo/demo/personnel/index";
                        });
                    }
                });
                model.setData(null);
            });
    </script>
</body>

</html>