<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/header"/>

<body>
<tt:constant enumcode="unit-type,"/>
<section class="content-header">
    <h1>单位管理</h1>
    <ol class="breadcrumb">
        <li><a href="/demo/org/unit/index"><i class="fa fa-list-alt"></i>列表</a></li>
        <li class="active">详情</li>
    </ol>
</section>
<section class="content">
</section>
<div class="col-sm-2 col-sm-offset-5 btn-back">
    <a href="/demo/org/unit/index" class="btn btn-primary btn-block">返回</a>
</div>
<input type="hidden" id="id" th:value="${id}"/>
<div th:include="/footer"/>
<script type="text/javascript">

    $(function () {
        var options = {
            id: "model",
            name: "详情",
            url: "/demo/org/unit/update?id=" + $("#id").val(),
            columns: [
                {title: "单位名称", name: "name", required: "required", maxLength: 120, inputType: "TEXT"},
                {title: "单位类型", name: "type", enum: "unit-type", required: "required", inputType: "SELECT"},
                {
                    title: "上级单位",
                    name: "parentId",
                    inputType: "SELECT-TREE-SERVER",
                    url: "/demo/org/unit/find/tree",
                    layerWidth: "500px",
                    isListData: false
                },
                {title: "联系人", name: "contact", maxLength: 50, inputType: "TEXT"},
                {title: "联系电话", name: "contactPhone", maxLength: 50, inputType: "TEXT"},
                {title: "排序号", name: "orderNo", required: "required", inputType: "TEXT"}
            ]
        }

        $.getAjax("/demo/org/unit/get?id=" + $("#id").val(), function (data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponent($(".content"));

            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
</script>
</body>

</html>