<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/header"/>

<body>
<tt:constant enumcode="unit-type,"/>
<section class="content-header">
    <h1>单位管理</h1>
    <ol class="breadcrumb">
        <li><a href="/demo/org/unit/index"><i class="fa fa-table"></i>列表</a></li>
        <li class="active">新增</li>
    </ol>
</section>
<section class="content">
</section>
<div class="col-sm-2 col-sm-offset-5 btn-back">
    <a href="/demo/org/unit/index" class="btn btn-primary btn-block">返回</a>
</div>
<div th:include="/footer"/>
<script type="text/javascript">
    var options = {
        id: "model",
        cancelBtn: false,
        name: "新增",
        url: "/demo/org/unit/save",
        columns: [
            {title: "单位名称", name: "name", required: "required", maxLength: 120, inputType: "TEXT"},
            {title: "单位类型", name: "type", enum: "unit-type", required: "required", inputType: "SELECT"},
            {
                title: "上级单位",
                name: "parentId",
                inputType: "SELECT-TREE-SERVER",
                url: "/demo/org/unit/find/tree",
                layerWidth: "500px",
                isListData: false
            },
            {title: "联系人", name: "contact", maxLength: 50, inputType: "TEXT"},
            {title: "联系电话", name: "contactPhone", maxLength: 50, inputType: "TEXT"},
            {title: "排序号", name: "orderNo", required: "required", inputType: "TEXT"}
        ]
    }

    $(function () {
        var html = generateEditHtml(options);
        $(".content").html(html);
        $.initComponent($(".content"));

        var model = new tonto.Model("model", options.columns, {
            pattern: "edit",
            successCallback: function () {
                $.successAlert("保存成功", function () {
                    window.location = "/demo/org/unit/index";
                });
            }
        });
        model.setData(null);
    });
</script>
</body>

</html>