<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="/demo/header"/>

<body>
<tt:constant enumcode="sex-type,identification-type,nation-type,"/>
<section class="content-header">
    <h1>人员管理</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <form id="searchbar" class="form-horizontal form-search">
                <div class="form-group">
                    <div class="col-md-2">
                        <input type="text" class="form-control" name="name" th:value="${query?.name}"
                               placeholder="请输入查询的姓名"/>
                    </div>
                    <div class="col-md-2">
                        <select name="identificationType" class="form-control tonto-select-constant"
                                th:attr="selectedvalue=${query?.identificationType}" enumcode="identification-type">
                            <option value="">请选择查询证件类型</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search"
                                    onclick="table.refresh()"><i class="fa fa-search"></i>查询
                            </button>
                            <button type="button" style="width:100px" class="btn btn-default"
                                    onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
            <input type="hidden" id="pageLimit" th:value="${query?.limit}"/>
            <input type="hidden" id="pageOffset" th:value="${query?.offset}"/>
        </div>
    </div>
    <div class="box box-solid" style="margin-top:20px">
        <div id="result" class="box-body">
            <table id="dataGrid"></table>
            <div id="toolbar">
                <div class="btn-group">
                    <a shiro:hasPermission="org:personnel:delete" onclick="add()" class="btn btn-default"><i
                            class="glyphicon glyphicon-plus"></i>新增</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/demo/footer"/>
<script type="text/javascript">
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "姓名", field: "name"},
                    {title: "性别", field: "sex", enumcode: "sex-type"},
                    {title: "所属机构", field: "unitName"},
                    {title: "证件类型", field: "identificationType", enumcode: "identification-type"},
                    {title: "证件号码", field: "identificationNo"},
                    {title: "出生日期", field: "birthday", formatter: "date"},
                    {title: "手机号码", field: "cellphone"},
                    {
                        title: "操作",
                        align: "center",
                        width: "200px",
                        events: {
                            'click .detail': function (e, value, row, index) {
                                detail(row);
                            },
                            'click .remove': function (e, value, row, index) {
                                remove(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';

                        }
                    }
                ]
            ],
            url: '/demo/org/personnel/find/page',
            searchbar: '#searchbar',
            exportUrl: '/demo/org/personnel/export',
            showExportor: true,
            showColumns: true,
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true
        });
    }

    function add() {
        window.location = '/demo/org/personnel/add';
    }

    function detail(row) {
        window.location = '/demo/org/personnel/detail' + (row ? ('?id=' + row.id) : '');
    }

    function remove(row) {
        if (row) {
            layer.confirm('确定删除吗?', function () {
                $.getAjax('/demo/org/personnel/delete?id=' + row.id, function () {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        }
    }
</script>
</body>

</html>