<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paladin.common.mapper.syst.SysUserMapper">
	<update id="updateAccount">
		UPDATE sys_user SET account = #{nowAccount},update_time=now() where user_id = #{userId} and
		account = #{originAccount}
	</update>
</mapper>