<title>Common System</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="/static/assets/bootstrap3/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/bootstrap-table.min.css" />
<link rel="stylesheet" href="/static/assets/select2/select2.min.css" />
<link rel="stylesheet" href="/static/assets/iCheck/square/_all.css" />

<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/iconfont.css">
<link rel="stylesheet" href="/static/css/AdminLTE.min.css">
<link rel="stylesheet" href="/static/assets/bootstrap-treeview/bootstrap-treeview.min.css">
<link rel="stylesheet" href="/static/assets/layer/theme/default/layer.css" />
<link rel="stylesheet" href="/static/assets/laydate/theme/default/laydate.css" />
<link rel="stylesheet" href="/static/assets/bootstrap-fileinput/css/fileinput.min.css">
<link rel="stylesheet" href="/static/css/common.css">