<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/demo/header" />

<body>
    <div class="container">
        <section class="content-header">
            <h1>PMP测试问题</h1>
        </section>
        <section class="content">
            <div id="questionDiv" class="box box-solid">
                <div class="box-body">
                    <div class="col-md-10" id="questionContentDiv">
                        <blockquote>
                            <p id="question"></p>
                            <p id="answerA"></p>
                            <p id="answerB"></p>
                            <p id="answerC"></p>
                            <p id="answerD"></p>
                            <p id="answerAnalysis" style="color:#aaa"></p>
                        </blockquote>
                    </div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <label><input type="checkbox" id="showAnswerSelect" />&nbsp;&nbsp;显示答案</label>
                        </div>
                        <div class="pull-right">
                            <label><input type="checkbox" id="showAnalysisSelect" />&nbsp;&nbsp;显示解释</label>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="col-md-4">
                        <a href="javascript:pre()" class="btn btn-success btn-flat pull-left" style="width:130px">上一题</a>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <a href="javascript:select()" class="btn btn-warning" style="width:110px">选题</a>
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:next()" class="btn btn-success btn-flat pull-right" style="width:130px">下一题</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-5 btn-back">
                <a href="javascript:showAnswer()" class="btn btn-danger btn-block">比对答案</a>
            </div>
        </section>
    </div>
    <div th:include="/demo/footer" />
    <script type="text/javascript">
    var groupName = decodeURIComponent($.getUrlVariable('group')),
        questionNo = 1;
    var questionRes;

    $(function() {
        $("input").iCheck({
            checkboxClass: 'icheckbox_square-blue', // 注意square和blue的对应关系
            radioClass: 'iradio_square-blue'
            //increaseArea: '10%' // optional
        });

        $("#showAnswerSelect").on('ifChanged', showQuestion);
        $("#showAnalysisSelect").on('ifChanged', showQuestion);

        $.getAjax("/demo/pmp/question/data?groupName=" + groupName, function(data) {
            if (!data) {
                $.errorMessage("找不到测验题库");
            } else {
                var questions = data.questions;
                var answers = data.answers;

                questionRes = {};

                questions.forEach(function(q) {
                    questionRes[q.indexNum] = q;
                });

                answers && answers.forEach(function(a) {
                    questionRes[a.questionIndex].userAnswer = a.answer;
                });

                questionNo = 1;
                showQuestion();
            }
        });
    });


    function pre() {
        saveAnswer();
        if (--questionNo <= 0) {
            questionNo = 1;
        }
        showQuestion();
    }

    function next() {
        saveAnswer();
        if (++questionNo > questionRes.length) {
            questionNo = questionRes.length;
        }
        showQuestion();
    }

    var layerIndex;

    function select() {
        var content = '<ul class="pagination" style="margin:25px;margin-top:45px">';
        for (var i = 0; i < 200; i++) {
            var x = i + 1;
            if (x == questionNo) {
                content += '<li class="paginate_button active"><a href="javascript:skip(' + x + ')">' + x + '</a></li>';
            } else {
                content += '<li class="paginate_button"><a href="javascript:skip(' + x + ')">' + x + '</a></li>';
            }
        }

        content += '</ul>'

        layerIndex = $.openPageLayer(content, {
            width: 700,
            height: 600
        });
    }

    function skip(no) {
        layer.close(layerIndex);
        saveAnswer();
        questionNo = no;
        showQuestion();
    }

    function showQuestion() {
        var isShowAnswer = $("#showAnswerSelect").is(':checked');
        var isShowAnalysis = $("#showAnalysisSelect").is(':checked');

        var data = questionRes && questionRes[questionNo];
        var rightAnswer = data.rightAnswer,
            answerAnalysis = data.answerAnalysis;

        var questionContent = data ? data.indexNum + '.' + data.questionC : '';

        if (isShowAnswer) {
            questionContent += '<b style="color:red">(' + rightAnswer + ')</b>';
        }

        $("#question").html(questionContent);


        $("#answerA").html(data ? '<input type="radio" name="checkAnswer" value="A"/>&nbsp;&nbsp;A.' + data.answerAC + '' : '');
        $("#answerB").html(data ? '<input type="radio" name="checkAnswer" value="B"/>&nbsp;&nbsp;B.' + data.answerBC + '' : '');
        $("#answerC").html(data ? '<input type="radio" name="checkAnswer" value="C"/>&nbsp;&nbsp;C.' + data.answerCC + '' : '');
        $("#answerD").html(data ? '<input type="radio" name="checkAnswer" value="D"/>&nbsp;&nbsp;D.' + data.answerDC + '' : '');


        $("#answerAnalysis").html(isShowAnalysis ? answerAnalysis : '');

        $("#questionContentDiv").find("input").iCheck({
            checkboxClass: 'icheckbox_square-blue', // 注意square和blue的对应关系
            radioClass: 'iradio_square-blue'
            //increaseArea: '10%' // optional
        });

        if (data.userAnswer) {
            $("#answer" + data.userAnswer).iCheck('check');
        }
    }

    function saveAnswer() {
        var checkAnswer = $("input[name='checkAnswer']:checked").val();
        if (checkAnswer) {
            questionRes[questionNo].userAnswer = checkAnswer;
            var param = {
                questionGroup: groupName,
                questionIndex: questionNo,
                answer: checkAnswer
            };
            $.postAjax("/demo/pmp/question/check", param, function() {

            });
        }
    }

    function showAnswer() {
        var content = '<ul class="pagination" style="margin:25px;margin-top:45px">';
        var right = 0;
        for (var i = 0; i < 200; i++) {
            var x = i + 1;
            var data = questionRes[x];
            if (data.rightAnswer == data.userAnswer) {
                right++;
                content += '<li class="paginate_button"><a href="javascript:skip(' + x + ')">' + x + '</a></li>';
            } else {
                content += '<li class="paginate_button"><a style="background:red;color:#fff" href="javascript:skip(' + x + ')">' + x + '</a></li>';
            }
        }
        content += '</ul>'
        content += '<p>总共答对<b>' + right + '</b>道题目</p>';

        layerIndex = $.openPageLayer(content);
    }
    </script>
</body>

</html>