<script type="text/javascript" src="/static/assets/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-suggest/bootstrap-suggest.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-select/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>
<script type="text/javascript" src="/static/assets/adminLTE/js/adminlte.min.js"></script>
<script type="text/javascript" src="/static/assets/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/assets/jquery-form/jquery.form.min.js"></script>
<script type="text/javascript" src="/static/assets/layer/layer.js"></script>
<script type="text/javascript" src="/static/assets/laydate/laydate.js"></script>
<script type="text/javascript" src="/static/assets/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/assets/bootstrap3-switch/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/common-model.js"></script>