<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header"/>

<body>

<section class="content-header">
    <h1>登录日志查看</h1>
</section>
<section class="content">
    <div class="box box-solid" style="margin-top:20px">
        <div id="result" class="box-body">
            <div style="margin-top: 5px;height:50px">
                <form id="searchbar">
                    <input type="text" class="form-control"
                           style="width:200px;float:left;margin-right:10px"
                           name="account"
                           placeholder="请输入操作人姓名"/>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="startTime" placeholder="请输入操作开始时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="endTime" placeholder="请输入操作结束时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <button type="button"
                            class="btn btn-primary btn-flat tonto-btn-search"
                            style="width:85px;float:left;margin-right:10px"
                            onclick="table.refresh()">
                        <i class="fa fa-search"></i>&nbsp;查询
                    </button>
                </form>
            </div>
            <table id="dataGrid"></table>
        </div>
    </div>
</section>
<div th:include="/common/footer"/>
<script type="text/javascript">
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "登录账号", field: "account"},
                    {title: "IP", field: "ip"},
                    {title: "登录时间", field: "createTime", formatter: "datetime"}
                ]
            ],
            url: '/common/sys/logger/login/find/page',
            searchbar: '#searchbar',
            pagination: true
        });
    }

</script>
</body>

</html>