<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/header"/>

<body>
<section class="content-header">
    <h1>登录日志查看</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="table-toolbar-tonto">
                <form id="searchbar">
                    <input type="text" class="form-control"
                           style="width:200px;float:left;margin-right:10px"
                           name="account"
                           placeholder="请输入登录账户"/>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="startTime" placeholder="请输入登录开始时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="endTime" placeholder="请输入登录结束时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <button type="button"
                            class="btn tonto-btn-search"
                            style="float:left;margin-right:10px"
                            onclick="table.refresh()">
                        <i class="fa fa-search"></i>&nbsp;查询
                    </button>
                </form>

                <div class="pull-right">
                    <a class="btn btn-default"
                       style="float:left;"
                       onclick="table.export()">
                        <i class="glyphicon glyphicon-export"></i>&nbsp;导出
                    </a>
                </div>
            </div>
            <table id="dataGrid"></table>
        </div>
    </div>
</section>
<div th:include="/footer"/>
<script type="text/javascript">
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "登录账号", field: "account", sortable: true},
                    {title: "IP", field: "ip"},
                    {title: "登录时间", field: "createTime", formatter: "datetime", sortable: true}
                ]
            ],
            url: '/common/sys/logger/login/find/page',
            searchbar: '#searchbar',
            exportUrl: '/common/sys/logger/login/export',
            pagination: true
        });
    }

</script>
</body>

</html>