<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/header"/>

<body>
<section class="content-header">
    <h1>操作日志管理</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="table-toolbar-tonto">
                <form id="searchbar">
                    <input type="text" class="form-control"
                           style="width:200px;float:left;margin-right:10px"
                           name="operateByName"
                           placeholder="请输入操作人姓名"/>

                    <input type="text" class="form-control"
                           style="width:200px;float:left;margin-right:10px"
                           name="operateName"
                           placeholder="请输入操作名称"/>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="startTime" placeholder="请输入操作开始时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <div style="width:200px;float:left;margin-right:10px">
                        <input type="text" name="endTime" placeholder="请输入操作结束时间"
                               class="form-control tonto-datepicker-date" autocomplete="off"/>
                    </div>

                    <button type="button"
                            class="btn btn-primary tonto-btn-search"
                            style="width:85px;float:left;margin-right:10px"
                            onclick="table.refresh()">
                        <i class="fa fa-search"></i>&nbsp;查询
                    </button>
                </form>
                <div class="pull-right">
                    <a class="btn btn-default"
                       style="float:left;"
                       onclick="table.export()">
                        <i class="glyphicon glyphicon-export"></i>&nbsp;导出
                    </a>
                </div>
            </div>
            <table id="dataGrid"></table>
        </div>
    </div>
</section>
<div th:include="/footer"/>
<script type="text/javascript">
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "模块名称", field: "modelName", sortable: true},
                    {title: "操作名称", field: "operateName", sortable: true},
                    {title: "操作人名称", field: "operateByName", sortable: true},
                    {title: "是否成功", field: "isSuccess", formatter: "boolean"},
                    {title: "操作时间", field: "operateTime", formatter: "datetime"},
                    {title: "操作时长(ms)", field: "operateDuration"}
                ]
            ],
            url: '/common/sys/logger/operate/find/page',
            searchbar: '#searchbar',
            exportUrl: '/common/sys/logger/operate/export',
            pagination: true
        });
    }

</script>
</body>

</html>