<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/header">
</head>
<style type="text/css">
    .list-group-item {
        position: relative;
        display: block;
        padding: 5px 10px;
        margin-bottom: 2px;
        background-color: #fff;
        border: 0px;
    }

    body {
        font-size: 15px;
    }
</style>

<body class="container">
<section class="content-header">
    <h1>角色管理</h1>
    <ol class="breadcrumb">
        <li><a href="/common/org/role/index"><i class="fa fa-list-alt"></i>角色列表</a></li>
        <li class="active">角色授权</li>
    </ol>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">功能授权</a></li>
                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">菜单授权</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <div id="functionTree"></div>
                    <div class="form-button-bar" style="margin-bottom:30px">
                        <div class="btn-group">
                            <button id="saveFunctionBtn" class="btn btn-success btn-flat" style="width: 120px;">保存
                            </button>
                            <button onclick="location='/common/org/role/index'" class="btn btn-default btn-flat"
                                    style="width: 120px;margin-left: 30px">返回
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                    <div id="menuTree"></div>
                    <div class="form-button-bar" style="margin-bottom:30px">
                        <div class="btn-group">
                            <button id="saveMenuBtn" class="btn btn-success btn-flat" style="width: 120px;">保存
                            </button>
                            <button onclick="location='/common/org/role/index'" class="btn btn-default btn-flat"
                                    style="width: 120px;margin-left: 30px">返回
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="roleId" th:value="${roleId}"/>
<div th:include="/footer"></div>
<script type="text/javascript">
    /*<![CDATA[*/
    var roleId, functionTree, menuTree, currentTree;
    $(function () {
        roleId = $("#roleId").val();
        functionTree = $("#functionTree");
        menuTree = $("#menuTree");

        functionTree.nodeCheckedSilent = false;
        functionTree.nodeUncheckedSilent = false;

        menuTree.nodeCheckedSilent = false;
        menuTree.nodeUncheckedSilent = false;

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if ($(e.target).attr("href") == '#tab_1') {
                currentTree = functionTree;
            } else {
                currentTree = menuTree;
            }
        });

        $.postAjax("/common/org/role/grant/data?id=" + roleId, function (data) {
            initTree(roleId, data.permissions, data.hasPermissions, functionTree);
            initTree(roleId, data.menus, data.hasMenus, menuTree);

            currentTree = functionTree;

            $("#saveFunctionBtn").click(function () {
                var checkedNodes = currentTree.treeview("getChecked");
                var ids = [];
                if (checkedNodes && $.isArray(checkedNodes)) {
                    checkedNodes.forEach(function (a) {
                        ids.push(a.data.id);
                    });
                }
                var data = {
                    roleId: roleId,
                    permissionId: ids
                }
                $.postAjax("/common/org/role/grant/do/permission", data, function () {
                    $.successMessage("保存成功");
                })
            });


            $("#saveMenuBtn").click(function () {
                var checkedNodes = currentTree.treeview("getChecked");
                var ids = [];
                if (checkedNodes && $.isArray(checkedNodes)) {
                    checkedNodes.forEach(function (a) {
                        ids.push(a.data.id);
                    });
                }
                var data = {
                    roleId: roleId,
                    menuId: ids
                }
                $.postAjax("/common/org/role/grant/do/menu", data, function () {
                    $.successMessage("保存成功");
                })
            });
        });
    });

    function initTree(roleId, permissions, hasPermissions, tree) {
        if (permissions) {
            var root = $.grep(permissions, function (n, i) {
                return n.parentId ? false : true;
            });

            var g = function (ps) {
                var nodes = [];
                for (var i = 0; i < ps.length; i++) {
                    var node = {},
                        p = ps[i];
                    node.text = p.name;
                    node.data = p;
                    node.state = {
                        checked: hasPermissions ? ($.inArray(p.id, hasPermissions) != -1) : false
                    }

                    var children = $.grep(permissions, function (n, i) {
                        return n.parentId == p.id;
                    });

                    if (children && children.length > 0) {
                        node.nodes = g(children);
                    }
                    nodes.push(node);
                }

                return nodes;
            }

            var treedata = g(root);

            tree.treeview({
                data: treedata,
                showCheckbox: true,
                onNodeChecked: nodeChecked,
                onNodeUnchecked: nodeUnchecked,
                levels: 5
            });
        }
    }

    function nodeCheckedChanged(node, checked) {

    }


    function nodeChecked(event, node) {
        if (currentTree.nodeCheckedSilent) {
            return;
        }
        currentTree.nodeCheckedSilent = true;
        //checkAllParent(node);
        checkAllSon(node);
        currentTree.nodeCheckedSilent = false;
    }


    function nodeUnchecked(event, node) {
        if (currentTree.nodeUncheckedSilent)
            return;
        currentTree.nodeUncheckedSilent = true;
        uncheckAllParent(node);
        uncheckAllSon(node);
        currentTree.nodeUncheckedSilent = false;
    }

    //选中全部父节点
    function checkAllParent(node) {
        nodeCheckedChanged(node, true);
        currentTree.treeview('checkNode', node.nodeId, {silent: true});
        var parentNode = currentTree.treeview('getParent', node.nodeId);
        if (!("nodeId" in parentNode)) {
            return;
        } else {
            checkAllParent(parentNode);
        }
    }

    //取消全部父节点
    function uncheckAllParent(node) {
        nodeCheckedChanged(node, false);
        currentTree.treeview('uncheckNode', node.nodeId, {silent: true});
        var parentNode = currentTree.treeview('getParent', node.nodeId);
        if (!("nodeId" in parentNode)) {
            return;
        }
        // var siblings = currentTree.treeview('getSiblings', node.nodeId);
        // var isAllUnchecked = true; //是否全部没选中
        // for (var i in siblings) {
        //     if (siblings[i].state.checked) {
        //         isAllUnchecked = false;
        //         break;
        //     }
        // }
        // if (isAllUnchecked) {
        //     uncheckAllParent(parentNode);
        // }

        // 只要有一个未选中，父节点都不能选中
        uncheckAllParent(parentNode);
    }

    //级联选中所有子节点
    function checkAllSon(node) {
        nodeCheckedChanged(node, true);
        currentTree.treeview('checkNode', node.nodeId, {silent: true});
        if (node.nodes != null && node.nodes.length > 0) {
            for (var i in node.nodes) {
                checkAllSon(node.nodes[i]);
            }
        }
    }

    //级联取消所有子节点
    function uncheckAllSon(node) {
        nodeCheckedChanged(node, false);
        currentTree.treeview('uncheckNode', node.nodeId, {silent: true});
        if (node.nodes != null && node.nodes.length > 0) {
            for (var i in node.nodes) {
                uncheckAllSon(node.nodes[i]);
            }
        }
    }

    /*]]>*/
</script>
</body>

</html>