<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/header"/>

<body>
<tt:constant enumcode="role-level-type"/>
<section class="content-header">
    <h1>角色管理</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <div class="table-toolbar-tonto">
                <button type="button"
                        class="btn btn-primary tonto-btn-search"
                        onclick="table.refresh()">
                    <i class="fa fa-search"></i>&nbsp;查询
                </button>
                <div class="pull-right">
                    <a class="btn bg-olive"
                       style="float:left;"
                       onclick="add()">
                        <i class="fa fa-plus"></i>&nbsp;新增
                    </a>
                </div>
            </div>
            <table id="dataGrid"></table>
        </div>
    </div>
</section>
<div th:include="/footer"/>
<script type="text/javascript">
    var table;
    $(function () {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "角色名称", field: "roleName"},
                    {title: "角色权限等级", field: "roleLevel", enumcode: "role-level-type"},
                    // {
                    //     title: "是否启用",
                    //     field: "enable",
                    //     formatter: function (value, row, index) {
                    //         return value ? '<span class="label label-success">已启用</span>' :
                    //             '<span class="label label-danger">未启用</span>';
                    //     }
                    // },
                    {title: "角色说明", field: "roleDesc"},
                    {
                        title: "是否启用",
                        field: "enable",
                        switch: true,
                        onSwitchChange: function (row, state, event) {
                            // 开-关动作事件处理，在这里进行后台服务调用
                            state ? $.postAjax("/common/org/role/enabled?id=" + row.id) :
                                $.postAjax("/common/org/role/disabled?id=" + row.id);
                        }
                    },
                    {
                        title: "操作",
                        width: "200px",
                        events: {
                            'click .edit': function (e, value, row, index) {
                                edit(row);
                            },
                            'click .grant': function (e, value, row, index) {
                                grant(row);
                            }
                        },
                        formatter: function operateFormatter(value, row, index) {
                            return '<button class="edit btn btn-primary" style="margin-right:10px"><i class="fa fa-edit"></i>&nbsp;编辑</button>' +
                                '<button class="grant btn btn-success" style="margin-right:10px"><i class="fa fa-cog"></i>&nbsp;授权</button>';
                        }
                    }
                ]
            ],
            url: '/common/org/role/find/page',
            searchbar: '#searchbar',
            pagination: true
        });
    }

    function add() {
        window.location = '/common/org/role/add';
    }

    function edit(row) {
        window.location = '/common/org/role/edit?id=' + row.id;
    }

    function grant(row) {
        window.location = '/common/org/role/grant/index?id=' + row.id;
    }
</script>
</body>

</html>